{% extends 'base.html' %}

{% block content %}
    <h1 class="neon-red">{{ user.username|upper }}'s Profile</h1>

    {% if profile %}
        <p class="welcome"><strong>Email:</strong> {{ profile.user.email }}</p> 
        <p class="welcome"><strong>Membership Number:</strong> {{ profile.membership_number }}</p>
        <p class="welcome"><strong>Address:</strong> {{ profile.personal_address }}</p>
        <p class="welcome"><strong>Phone Number 1:</strong> {{ profile.phone_number_1 }}</p>
        <p class="welcome"><strong>Phone Number 2:</strong> {{ profile.phone_number_2 }}</p>       
    {% else %}
        <p class="welcome">No profile information available. Please update your profile.</p>
    {% endif %}
    

    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'index' %}" class="btn btn-primary">Return to Home</a>
{% endblock %}
