{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="neon-red">Reset Password</h2>
    <h2 class="welcome">{{ user.username|upper }}</h2>
    <br>
    <form method="POST" class="welcome">
        {% csrf_token %}
        <div class="mb-3 text-end">
            <label for="id_new_password1" class="form-label">New Password</label>
            {{ form.new_password1 }}
        </div>
        <div class="mb-3 text-end">
            <label for="id_new_password2" class="form-label">Confirm New Password</label>
            {{ form.new_password2 }}
        </div>
        <br>
        <a href="{% url 'user_admin' %}" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}