{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="neon-red">Update User Settings</h2>
    <br>

    <form method="POST" action="{% url 'staff_panel:update_user_settings' user.id %}" class="welcome">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update User</button>
    </form>
</div>
{% endblock %}