/* Index.html Styles */
.background-image {
  background: url("/static/images/humphrey-muleba-LOA2mTj1vhc-unsplash.jpg")
    center/cover no-repeat;
  height: 100vh; /* Ensure the image fills the screen height */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); 
  padding: 20px;
  border-radius: 10px;
}

.navbar-nav .nav-link {
  white-space: nowrap;
}

.neon-red {
  color: #ff4d4d;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7),
   -2px -2px 5px rgba(0, 0, 0, 0.7),
    2px -2px 5px rgba(0, 0, 0, 0.7), -2px 2px 5px rgba(0, 0, 0, 0.7),
    0 0 10px #ff4d4d, /* Neon red glow */ 0 0 20px #ff4d4d, 0 0 30px #ff4d4d;
}

/* Button Hover/Active */
.btn-like:hover,
.btn-like:active {
  color: #e84610;
  background: blue;
  border: none;
}

/* Form Styling */
form .form-group input,
form .form-group select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form .form-group input:focus,
form .form-group select:focus {
  border-color: #ff4d4d;
  outline: none;
}

/* Form Button Styling */
.btn-like {
  background-color: #e84610;
  color: white;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-like:hover {
  background-color: blue;
}

/* Ensures text stays visible */
.background-image h1,
.background-image p,
.background-image a {
  position: relative;
  z-index: 1;
}

.welcome {
  color: aliceblue;
}

/* Specific Styles for the Login Page */
.container {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

/* New Styles for Booking Form and List */
.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

/* Ensures the form content is centered within the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Align buttons and form fields */
form .form-group input,
form .form-group select {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

/* Custom alignment for the booking confirmation section */
h3,
h2 {
  text-align: center;
  width: 100%;
}

/* Booking List Styling */
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

/* Cancel button style */
button.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.btn-danger:hover {
  background-color: #c82333;
}
